# Vivado Logs and Journals
*.jou
*.log
*.str
*.dmp

# Vivado Internal Work Directories
.Xil/
.cache/
.ip_user_files/
.hw/
.sim/

# Output Products
*.bit
*.bin
*.dcp
*.wdb
*.wcfg

# Python/MATLAB garbage
__pycache__/
*.pyc
.ipynb_checkpoints/
*.asv

# OS junk
.DS_Store
Thumbs.db
*.db
*.wpc
vivado_proj/fmcw_radar_core/fmcw_radar_core.cache/wt/xsim.wdf
vivado_proj/fmcw_radar_core/fmcw_radar_core.hw/fmcw_radar_core.lpr
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/mem_init_files/golden_input_chirp.txt
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/README.txt
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/compile.bat
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/elaborate.bat
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/golden_input_chirp.txt
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/output_verification.txt
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/simulate.bat
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/tb_window_multiplier.tcl
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/tb_window_multiplier_vhdl.prj
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xelab.pb
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/Compile_Options.txt
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/obj/xsim_0.win64.obj
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/obj/xsim_1.c
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/obj/xsim_1.win64.obj
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/TempBreakPointFile.txt
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.dbg
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.mem
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.reloc
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.rlx
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.rtti
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.svtype
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.type
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.version
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.xdbg
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsimk.exe
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsimSettings.ini
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/tb_window_multiplier.vdb
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/window_multiplier.vdb
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.ini
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xvhdl.pb
vivado_proj/fmcw_radar_core/fmcw_radar_core.srcs/sim_1/imports/data/golden_input_chirp.txt
vivado_proj/fmcw_radar_core/fmcw_radar_core.xpr
