# Vivado Logs and Journals
*.jou
*.log
*.str
*.dmp

# Vivado Internal Work Directories
.Xil/
.cache/
.ip_user_files/
.hw/
.sim/

# Output Products
*.bit
*.bin
*.dcp
*.wdb
*.wcfg

# Python/MATLAB garbage
__pycache__/
*.pyc
.ipynb_checkpoints/
*.asv

# OS junk
.DS_Store
Thumbs.db
*.db
*.wpc
vivado_proj/fmcw_radar_core/fmcw_radar_core.cache/wt/xsim.wdf
vivado_proj/fmcw_radar_core/fmcw_radar_core.hw/fmcw_radar_core.lpr
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/mem_init_files/golden_input_chirp.txt
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/README.txt
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/compile.bat
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/elaborate.bat
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/golden_input_chirp.txt
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/output_verification.txt
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/simulate.bat
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/tb_window_multiplier.tcl
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/tb_window_multiplier_vhdl.prj
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xelab.pb
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/Compile_Options.txt
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/obj/xsim_0.win64.obj
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/obj/xsim_1.c
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/obj/xsim_1.win64.obj
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/TempBreakPointFile.txt
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.dbg
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.mem
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.reloc
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.rlx
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.rtti
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.svtype
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.type
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.version
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsim.xdbg
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsimk.exe
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/tb_window_multiplier_behav/xsimSettings.ini
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/tb_window_multiplier.vdb
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/window_multiplier.vdb
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.ini
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xvhdl.pb
vivado_proj/fmcw_radar_core/fmcw_radar_core.srcs/sim_1/imports/data/golden_input_chirp.txt
vivado_proj/fmcw_radar_core/fmcw_radar_core.xpr
*.xci
*.v
*.vhdl
*.wdf
*.zip
*.txt
*.veo
*.xml
*.xdc
*.vho
*.sh
*.udo
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/demo_tb/tb_xfft_0.vhd
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/hdl/axi_utils_v2_0_vh_rfs.vhd
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/hdl/c_addsub_v12_0_vh_rfs.vhd
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/hdl/c_reg_fd_v12_0_vh_rfs.vhd
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/hdl/c_shift_ram_v12_0_vh_rfs.vhd
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/hdl/cmpy_v6_0_vh_rfs.vhd
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/hdl/floating_point_v7_1_vh_rfs.vhd
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/hdl/mult_gen_v12_0_vh_rfs.vhd
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/hdl/xbip_dsp48_wrapper_v3_0_vh_rfs.vhd
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/hdl/xbip_pipe_v3_0_vh_rfs.vhd
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/hdl/xbip_utils_v3_0_vh_rfs.vhd
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/hdl/xfft_v9_1_vh08_rfs.vhd
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/hdl/xfft_v9_1_vh_rfs.vhd
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/sim/xfft_0.vhd
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/synth/xfft_0.vhd
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/xfft_0_sv.sv
vivado_proj/fmcw_radar_core/fmcw_radar_core.gen/sources_1/ip/xfft_0/xfft_0_sv.sveo
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/activehdl/compile.do
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/activehdl/simulate.do
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/activehdl/xfft_0_sv.sveo
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/modelsim/compile.do
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/modelsim/simulate.do
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/modelsim/wave.do
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/modelsim/xfft_0_sv.sveo
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/questa/compile.do
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/questa/elaborate.do
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/questa/simulate.do
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/questa/wave.do
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/questa/xfft_0_sv.sveo
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/riviera/compile.do
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/riviera/simulate.do
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/riviera/xfft_0_sv.sveo
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/xsim/cmd.tcl
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/xsim/elab.opt
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/xsim/vhdl.prj
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/xsim/xfft_0_sv.sveo
vivado_proj/fmcw_radar_core/fmcw_radar_core.ip_user_files/sim_scripts/xfft_0/xsim/xsim.ini
vivado_proj/fmcw_radar_core/fmcw_radar_core.runs/xfft_0_synth_1/.vivado.begin.rst
vivado_proj/fmcw_radar_core/fmcw_radar_core.runs/xfft_0_synth_1/.vivado.end.rst
vivado_proj/fmcw_radar_core/fmcw_radar_core.runs/xfft_0_synth_1/.Vivado_Synthesis.queue.rst
vivado_proj/fmcw_radar_core/fmcw_radar_core.runs/xfft_0_synth_1/__synthesis_is_complete__
vivado_proj/fmcw_radar_core/fmcw_radar_core.runs/xfft_0_synth_1/ISEWrap.js
vivado_proj/fmcw_radar_core/fmcw_radar_core.runs/xfft_0_synth_1/rundef.js
vivado_proj/fmcw_radar_core/fmcw_radar_core.runs/xfft_0_synth_1/runme.bat
vivado_proj/fmcw_radar_core/fmcw_radar_core.runs/xfft_0_synth_1/vivado.pb
vivado_proj/fmcw_radar_core/fmcw_radar_core.runs/xfft_0_synth_1/xfft_0.tcl
vivado_proj/fmcw_radar_core/fmcw_radar_core.runs/xfft_0_synth_1/xfft_0.vds
vivado_proj/fmcw_radar_core/fmcw_radar_core.runs/xfft_0_synth_1/xfft_0_utilization_synth.pb
vivado_proj/fmcw_radar_core/fmcw_radar_core.runs/xfft_0_synth_1/xfft_0_utilization_synth.rpt
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/tb_radar_core_vhdl.prj
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/radar_core.vdb
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/tb_radar_core.vdb
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xfft_0.vdb
vivado_proj/fmcw_radar_core/fmcw_radar_core.sim/sim_1/behav/xsim/xsim.ini.bak
